<div class="row align-center mb-5">
  <div class="col-md-6">
      <div class="postContainer">
        <div class="postHeader">
          <p class="postby" style="padding-left: 10px;">Posted on {{post.created_date}}{{#unless edit_Allowed}} by {{post.user.name}}{{/unless}}</p>
        </div>
        <div class="content">
          <textarea name="content" id="content" {{#unless edit_Allowed}}readonly{{/unless}}>{{post.content}}</textarea>
        </div>
      </div>
      {{#if edit_Allowed}}
      <form class="form">
        <div class="form-group">
            <button class="btn" id="updateBtn" style="display: inline;">Update Post</button>
            <button class="btn" id="deleteBtn" style="display: inline;">Delete Post</button>
        </div>
      </form>
      <script src="/js/updateDelPost.js"></script>
      {{else}}
          <form class="form reply-form">
            <div class="form-group">
              <textarea name="reply-text" id="reply-text"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Reply to Post</button>
            </div>
          </form>
          {{#each post.replies as |reply|}}
            <div class="postContainer">
                <div class="postHeader">
                  <p class="postby" style="padding-left: 10px;">Posted on {{reply.formatted_date}} by {{reply.user.name}}</p>
                </div>
                <div class="content">
                  <p>{{reply.reply_content}}</p>
                </div>
            </div>
          {{/each}}
          <script src="/js/createReply.js"></script>
      {{/if}}
  </div>
</div>