<div class="row align-center mb-5">
  <div class="col-md-6">
      <div class="postContainer">
        <div class="postHeader">
          <p class="postby" style="padding-left: 10px;">Posted on {{post.created_date}} by {{post.user.name}}</p>
        </div>
        <div class="content">
          <textarea name="content" id="content" readonly>{{post.content}}</textarea>
        </div>
      </div>
          <form class="form reply-form">
            <div class="form-group">
              <textarea name="reply-text" id="reply-text"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Reply to Post</button>
            </div>
          </form>
          {{#each post.replies as |reply|}}
            <div class="postContainer">
                <div class="postHeader">
                  <p class="postby" style="padding-left: 10px;">Posted on {{reply.formatted_date}} by {{reply.user.name}}</p>
                </div>
                <div class="content">
                  <p>{{reply.reply_content}}</p>
                </div>
            </div>
          {{/each}}
          <script src="/js/createReply.js"></script>
  </div>
</div>