<div class="row align-center mb-5">
  <div class="col-md-6">
    {{#each posts as |post|}}
      <div class="postContainer">
        <div class="postHeader">
          <h2 class="title"><a href="/blog/{{post.id}}">{{post.title}}</a></h2>
          <p class="postby">Posted on {{post.formatted_date}} by {{post.user.name}}</p>
        </div>
        <div class="content">
          <p>{{post.content}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>